{#
/**
 * @file business.html.twig
 * Default theme implementation to present Business data.
 *
 * This template is used when viewing Business pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_business()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('business') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
